<div class="container">

    <div class="row mt-5">

        <div class="col-md-3">

            <h3>Add photo</h3>

            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card bg-faded p-5 text-center my-drop-zone">
                Base drop zone
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader?.queue">
                    <td><strong>{{item?.file?.name }}</strong></td>
                    <td *ngIf="uploader?.options?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success btn-s me-3"
                        (click)="uploader?.uploadAll()" [disabled]="!uploader?.getNotUploadedItems()?.length">
                         Upload all
                </button>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <div *ngIf="previewUrl()" class="mt-3">
                <h4>Попередній перегляд:</h4>
                <img [src]="previewUrl()" class="img-fluid" style="max-height: 300px;" alt="Image Preview">
            </div>
            </div>
            <div class="col">
              <div *ngIf="recognizedText()" class="mt-3">
                <h4>Розпізнаний текст json формату:</h4>
                <pre>{{ recognizedText() | json }}</pre>
                </div>
            </div>
            <div class="col">
              <div *ngIf="recognizedText()" class="mt-3">
                <h4>Розпізнаний текст в рядок:</h4>
                @for (item of recognizedText(); track $index) {
                  <span class="me-2">{{item.text}}</span>
                }
                <button class="btn btn-outline-info"
                  [cdkCopyToClipboard]="textForCopy()">Copy
                </button>
              </div>

            </div>
          </div>
        </div>
        </div>
    </div>
